
.heading{
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    margin-top: 5rem;
    color: #010101;
    font-size: 26px;
    }
    .heading-txt {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        margin-right :3px;
        cursor: pointer;
    }
    
    
    .page-num > *{
        width: 45px;
        height: 45px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;
        border: 1px solid #28CC9E;
        border-radius: 6px;
        color: #000000;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
    }
    .sec{
        position:absolute;
        right: 35px;
    }
    @media only screen and (max-width: 600px) {
        .header-cont{
            display: flex;
            flex-direction: column;
        }
        .page-num{
            width: 60%;
        }
        .page-num > *{
            width: 35px;
            height: 35px;
            font-weight: 400;
            font-style: 25px;
            margin: 5px;
            padding: 10;
        }
    }