.nav {
  width: 100%;
  max-height: 1rem;
  position: fixed;
  padding: 1.7rem;
  z-index: 1000;
  transition-timing-function: ease-in;
  transition: 500ms;
}

.showNavOnscroll {
  background-color: #0F1010;
}

img {
  height: 2.7rem;
}


.home-link{ 
  display: none;
}

.nav-links {
  margin-left: 8.5vw;
  margin-top: 0.4rem;
}

.nav text {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 1.2rem;
  padding-bottom: 0.9rem;
}

.nav text:hover {
  border-bottom-style: inset;
  border-bottom-color: #28CC9E;
  color: #28CC9E;
}

.nav .active {
  border-bottom-style: inset;
  border-bottom-color: #28CC9E;
  color: #28CC9E;
}

.login-btn {
  margin-top: 0.2rem;
  min-width: 6.6rem;
  height: 2rem;
  font-weight: 500;
  color: #fff;
}

.login-icon {
  display: none;
}

.icons {
  background: none;
  border: none;
  margin-top: 0.1rem;
}

.search-bar-show {
  margin-top: 0.2rem;
  height: 2rem;
  float: right;
  transition-timing-function: ease-in;
  -webkit-animation: searchBar 500ms forwards;
  animation: searchBar 500ms forwards;
}

@-webkit-keyframes searchBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%
  }
}

@keyframes searchBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.search-bar-hide {
  display: none;
}



/* Responsivity */

@media (max-width: 990px) {

  .home-link {
    display: inline-block;
  }
  .offcanvasToggler {
    top: 0;
    left: 0;  
    position: fixed;
    height: 2rem;
    width: 2.5rem;
    padding: 0;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  .nav-container {
    top: 0;
    left: 0;
    position: fixed;
    padding-left: 3.5rem;
    padding-right: 2.4rem;
  }

  .login-btn {
    display: none;
  }

  .login-icon {
    display: block;
  }

  .icons-container {
    top: 0;
    right: 0;
    position: fixed;
    margin-top: 0.4rem;
    margin-right: 1rem;
  }

  .nav text {
    font-size: 3rem;
  }
}

@media (max-width: 1060px) {
  .nav-links {
    margin-left: -1.4rem;
  }
  .nav-links a {
    color: #0F1010;
    font-weight: 500;
  }
}

@media (max-width: 450px) {
  .search-bar-show {
    top: 2.6rem;
    left: 9rem;
    position: relative;
  }
}

@media (min-width: 1400px) {
  .nav text {
    margin-left: 1.5vw;
  }
}