.product-card {
    position: relative;
    width: 100%;
    height: auto;
}

.product-card .text {
    font-size: 1rem;
    padding: 0.7rem 1rem;
}

.product-card:hover .image {
    opacity: 0.3;
}

.product-card:hover .middle {
    opacity: 1;
}

@media (min-width: 1403px) {
    .product-card {
        position: relative;
        min-width: 19.3rem;
        width: 100%;
        height: auto;
    }  
}